/*body {
  background: #202020;
  color: #dee2e6;
}
.bg-light {
  background-color: #2e2e2e !important;
}
.navbar-light .navbar-brand {
  color: #dee2e6 !important;
}
.nav-link {
  color: #dee2e6 !important;
}
.nav-bar-link:hover {
  color: white !important;
}*/
#addpic img {
  display: inline-block;
  margin-bottom: 0.8em;
  margin-right: 0.5em;
  border-radius: 50%;
  position: fixed;
  right: 0px;
  bottom: -5px;
  border-style: solid;
  border-color: #6c757d;
  border-width: 2px;
}

#addpic img:hover,#addpic img:active{
  border-width: 4px;
}

.navbar-nav {
  height: 100%;
}
/*.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 120px;
  text-align: center;
}*/
.nav-link:hover {
  color: white !important;
  background-color: #2980b9;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  font-weight: bold;

}
.navbar-brand {
  margin-bottom: 24px;
  margin-left: 16px;
}
.nav-active {
  color: white !important;
}

.alert-success {
  color: #dee2e6 !important;
  background-color: #286eb5 !important;
  border-color: #0e2b48;
}
.alert-secondary {
  color: #6c757d;
  background-color: #495057;
  border-color: #d6d8db;
}

.btn-danger {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-success {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.modal.show .modal-dialog {
  color: black;
}
