<div class="alert alert-$status" role="alert" data-id="$title">
  <h5>$title</h5><span class="finished_tag">$DONE</span>
  <hr />
  $description
  <hr />
  <button type="button" class="btn btn-success" onclick="finishTask('$title')">
    Finish
  </button>
  <button type="button" class="btn btn-danger" onclick="deleteTask('$title')">
    Delete
  </button>
  <button data-active="abandon-btn" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#encourage"
    data-title="$title" onclick="generateWords()">
    Abandon
  </button>
</div>