<div class="alert alert-$status" role="alert" data-id="$title">
  <h5>$title</h5>
  <hr />
  $description
  <hr />
  <button type="button" class="btn btn-success" onclick="finishTask('$title')">
    Finish
  </button>
  <button type="button" class="btn btn-danger" onclick="deleteTask('$title')">
    Delete
  </button>
  <button type="button" 
          class="btn btn-secondary"
          data-toggle="modal"
          data-target="#encourage" >
    Abandon
  </button>
  <div
      class="modal fade"
      id="encourage"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Are you sure to abandon it?</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            some encouraged words
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              quit
            </button>
            <button type="button" class="btn btn-primary" onclick="abortTask('$title')">Abandon</button>

          </div>
        </div>
      </div>
    </div>
</div>
