<nav class="navbar-light bg-light" style="
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    padding: 3px 0 0 6px;
">
  <a class="navbar-brand" href="#" style="margin-bottom: 24px;">待办事项</a>
  <div id="toggle-container">
    <ul class="navbar-nav" style="
    height: 100%;
">
      <li class="nav-item" id="nav-item-index" style="
">
        <a class="nav-link" href="./index.html">列表</a>
      </li>
      <li class="nav-item" id="nav-item-add">
        <a class="nav-link" href="./add.html">添加</a>
      </li>
    </ul>
    
  </div>
</nav>
  
