<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">待办事项</a>
  <div class="collapse navbar-collapse" id="toggle-container">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" id="nav-item-index">
        <a class="nav-link" href="./index.html">列表</a>
      </li>
      <li class="nav-item" id="nav-item-add">
        <a class="nav-link" href="./add.html">添加</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="输入要搜索的内容" />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        搜索
      </button>
    </form>
  </div>
</nav>
