<div class="pos-f-t">
  <div class="collapse bg-dark" id="navbarToggleExternalContent">
    <div id="toggle-container">
      <ul class="navbar-nav" id="nav_ul">
        <li class="nav-item">
          <a class="nav-link" href="./my.html">MY</a>
        </li>
        <li class="nav-item dropdown" id="nav-item-all">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            LIST
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./index.html#all" data-filter="all"
              >ALL</a
            >
            <a
              class="dropdown-item"
              href="./index.html#finished"
              data-filter="finished"
              >DONE</a
            >
            <a
              class="dropdown-item"
              href="./index.html#unfinished"
              data-filter="unfinished"
              >UNDO</a
            >
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href="./index.html#all_group"
              data-group="all"
              >ALL GROUP</a
            >
            <div id="group_list_container"></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="./addGroup.html">Add Group</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./countTime.html">POMODORO</a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
